{% extends 'base.html' %}

{% block title %} Course Catalog {%endblock%}



{% block body %}

<div class="jumbotron p-3">
    <div class="well text-center">

        <h1>Chinese IV</h1>

    </div>
</div>


{% endblock %}


<tr id=1>
    <td>01</td>
    <td>
        <a href="http://localhost:5000/psych">
            AP Psychology
        </a>
    </td>
    <td>Mrs. Phillips</td>
    <td>Social Studies</td>

    <td>
        <a href="" class="btn btn-danger btn-xs" data-bs-toggle="modal" data-bs-target="#modaledit">Edit</a>
        <a href="" class="btn btn-warning btn-xs" onclick="return confirm('are you sure you want to delete?')">Delete</a>
    </td>
    
</tr>

<tr id=1>
    <td>02</td>
    <td>
        <a href="http://localhost:5000/econ">
            AP Economics
        </a>
    </td>
    <td>Mr. Styers</td>
    <td>Social Studies</td>

    <td>
        <a href="" class="btn btn-danger btn-xs" data-bs-toggle="modal" data-bs-target="#modaledit">Edit</a>
        <a href="" class="btn btn-warning btn-xs" onclick="return confirm('are you sure you want to delete?')">Delete</a>
    </td>
    
</tr>

<tr id=2>
    <td>03</td>
    <td>
        <a href="http://localhost:5000/multi">
            Multi-Variable Calculus & Linear Alg.
        </a>
    </td>
    <td>Mr. Styers</td>
    <td>Mathematics</td>

    <td>
        <a href="" class="btn btn-danger btn-xs" data-bs-toggle="modal" data-bs-target="#modaledit">Edit</a>
        <a href="" class="btn btn-warning btn-xs" onclick="return confirm('are you sure you want to delete?')">Delete</a>
    </td>
    
</tr>

<tr id=3>
    <td>04</td>
    <td>
        <a href="http://localhost:5000/comp">
            Adv Comp Sci Topics - H 
        </a>
    </td>
    <td>Ms. Zietlow</td>
    <td>Computer Science</td>

    <td>
        <a href="" class="btn btn-danger btn-xs" data-bs-toggle="modal" data-bs-target="#modaledit">Edit</a>
        <a href="" class="btn btn-warning btn-xs" onclick="return confirm('are you sure you want to delete?')">Delete</a>
    </td>
    
</tr>

<tr id=2>
    <td>05</td>
    <td>
        <a href="http://localhost:5000/stats">
            AP Statistics
        </a>
    </td>
    <td>Mr. Styers</td>
    <td>Mathematics</td>

    <td>
        <a href="" class="btn btn-danger btn-xs" data-bs-toggle="modal" data-bs-target="#modaledit">Edit</a>
        <a href="" class="btn btn-warning btn-xs" onclick="return confirm('are you sure you want to delete?')">Delete</a>
    </td>
    
</tr>

<tr id=2>
    <td>06</td>
    <td>
        <a href="http://localhost:5000/bc">
            AP Calculus BC
        </a>
    </td>
    <td>Mr. Styers</td>
    <td>Mathematics</td>

    <td>
        <a href="" class="btn btn-danger btn-xs" data-bs-toggle="modal" data-bs-target="#modaledit">Edit</a>
        <a href="" class="btn btn-warning btn-xs" onclick="return confirm('are you sure you want to delete?')">Delete</a>
    </td>
    
</tr>

<tr id=4>
    <td>07</td>
    <td>
        <a href="http://localhost:5000/lang">
            AP English Lang/Comp	
        </a>
    </td>
    <td>Mr. Mennenoh</td>
    <td>English</td>

    <td>
        <a href="" class="btn btn-danger btn-xs" data-bs-toggle="modal" data-bs-target="#modaledit">Edit</a>
        <a href="" class="btn btn-warning btn-xs" onclick="return confirm('are you sure you want to delete?')">Delete</a>
    </td>
    
</tr>

<tr >
    <td>08</td>
    <td>
        <a href="http://localhost:5000/physicsC">
            AP Physics - C		
        </a>
    </td>
    <td>Mr. Mennendez</td>
    <td>Science</td>

    <td>
        <a href="" class="btn btn-danger btn-xs" data-bs-toggle="modal" data-bs-target="#modaledit">Edit</a>
        <a href="" class="btn btn-warning btn-xs" onclick="return confirm('are you sure you want to delete?')">Delete</a>
    </td>
    
</tr>

<tr id=1>
    <td>09</td>
    <td>
        <a href="http://localhost:5000/APUSH">
            AP US History			
        </a>
    </td>
    <td>Mr. Swartzloff</td>
    <td>Social Studies</td>

    <td>
        <a href="" class="btn btn-danger btn-xs" data-bs-toggle="modal" data-bs-target="#modaledit">Edit</a>
        <a href="" class="btn btn-warning btn-xs" onclick="return confirm('are you sure you want to delete?')">Delete</a>
    </td>
    
</tr>

<tr id=6>
    <td>10</td>
    <td>
        <a href="http://localhost:5000/chinese4">
            Chinese IV		
        </a>
    </td>
    <td>Ms. Shi</td>
    <td>Language</td>

    <td>
        <a href="" class="btn btn-danger btn-xs" data-bs-toggle="modal" data-bs-target="#modaledit">Edit</a>
        <a href="" class="btn btn-warning btn-xs" onclick="return confirm('are you sure you want to delete?')">Delete</a>
    </td>
    
</tr>