{% extends 'base.html' %}
{% include 'header.html' %}



{% block title %} Home {%endblock%}



{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">

            <div class="jumbotron p-3">
                <h2>Manage Classes <button type = "button" class="btn btn-success float-end"
                data-bs-toggle="modal" data-bs-target = "#mymodal">Add New Classes</button> </h2>
                <input size="142" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for classes">
                    <p></p>
                    <label for="checkboxContainer">Filter by Subject:</label>
                    <div id="checkboxContainer">
                        {% for data in data %}
                            {% if data != ' ' %}
                            <input type="checkbox" id="{{data}}" value="{{data}}" checked />
                            <label for="{{data}}">{{data}}</label>
                            {% endif %}
                            {% endfor %}
                    <div>
                        <label for="subject-filter-select">Filter by Subject:</label>
                        <select id="subject-filter-select">
                            <option value="all">All</option>
                            {% for data in data %}
                            {% if data != ' ' %}
                            <option value="{{data}}">{{data}}</option>
                            {% endif %}
                            {% endfor %}
                            <option value="none">Other</option>
                        </select>
                      </div>
                      </div>
                <table id= "myTable" class="table  table-dark">

                    <tr>

                        <th class="bg-danger">Number</th>
                        <th>ID</th>
                        <th class="bg-danger">Name</th>
                        <th>Subject</th>
                        <th class="bg-danger">Action</th>

                    </tr>

                    {% for lstCourse in lstCourse %}
                        <tr class= "filterDiv {{lstCourse['subject']}}">
                            <td class="bg-danger">{{ lstCourse['Number'] }}</td>
                            <td>{{ lstCourse['course_id'] }}</td>
                            <td class="bg-danger">
                                <a href="{{url_for('Template', Classes = lstCourse['course_id'])}}" class="btn btn-danger btn-xs">
                                    {{ lstCourse['name'] }}
                                </a>
                            </td>
                            {% if lstCourse['subject'] != ' ' %}
                                <td>{{lstCourse['subject']}}</td>
                            {% else %}
                                <td>none</td>
                            {% endif %}

                            <td class="bg-danger">
                                <a href="" class="btn btn-danger btn-xs" data-bs-toggle="modal" data-bs-target="#modaledit">Edit</a>
                                <a href="" class="btn btn-warning btn-xs" onclick="return confirm('are you sure you want to delete?')">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    

                    <div>
                        <div id="modaledit" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
        
                                        <h4 class="modal-title">Update Class Info</h4>
                                    </div>
                                    <div class = "modal-body">
        
                                        <form action="" method ="POST">
                                            
                                            <div class="form-group">
        
                                                <label>ID:</label>
                                                <input type="text" class="form-control" name="name" required="1">
                                            
                                            </div>
        
                                            <div class="form-group">
        
                                                <label>Name:</label>
                                                <input type="text" class="form-control" name="teacher" required="1">
                                            </div>
        
                                            <div class="form-group">
        
                                                <label>Subject:</label>
                                                <input type="text" class="form-control" name="subject" required="1">
                                            </div>
        
                                            <div class="form-group">
                                                <button class="btn btn-primary" type="submit">Save Edits</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                    </div>

                    
                </table>
            </div>

            <div>
                <div id="mymodal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <h4 class="modal-title">Add a Class</h4>
                            </div>
                            <div class = "modal-body">

                                <form action="" method ="POST">
                                    
                                    <div class="form-group">

                                        <label>ID:</label>
                                        <input type="text" class="form-control" name="name" required="1">
                                    
                                    </div>

                                    <div class="form-group">

                                        <label>Name:</label>
                                        <input type="text" class="form-control" name="teacher" required="1">
                                    </div>

                                    <div class="form-group">

                                        <label>Subject:</label>
                                        <input type="text" class="form-control" name="subject" required="1">
                                    </div>

                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit">Add Class</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>
</div>

<script>
    function myFunction() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
       }
    }

    const subjectFilterSelect = document.getElementById("subject-filter-select");
    const classTable = document.getElementById("myTable");

    subjectFilterSelect.addEventListener("change", function() {
    const filterValue = subjectFilterSelect.value;

      for (let i = 1; i < classTable.rows.length; i++) {
        const subjectCell = classTable.rows[i].cells[3];
        if (filterValue === "all" || subjectCell.innerHTML === filterValue) {
          classTable.rows[i].style.display = "";
        } else {
          classTable.rows[i].style.display = "none";
        }
      }
    });
    
    var data = [data];

</script>


{% endblock %}