{% extends 'base.html' %}
{% include 'header.html' %}



{% block title %} Home {%endblock%}



{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">

            <div class="jumbotron p-3">
                <h2>Manage  <b>Classes </b> <button type = "button" class="btn btn-success float-end"
                data-bs-toggle="modal" data-bs-target = "#mymodal">Add New Classes</button> </h2>

                <table class="table table-hover table-dark">

                    <tr>

                        <th>ID</th>
                        <th>Name</th>
                        <th>Teacher</th>
                        <th>Subject</th>
                        <th>Action</th>
                    </tr>

                    <tr>
                        <td>01</td>
                        <td>
                            <a href="http://localhost:5000/psych">
                                AP Psych
                            </a>
                        </td>
                        <td>Mrs. Phillips</td>
                        <td>Social Studies</td>

                        <td>
                            <a href="" class="btn btn-danger btn-xs" data-bs-toggle="modal" data-bs-target="#modaledit">Edit</a>
                            <a href="" class="btn btn-warning btn-xs" onclick="return confirm('are you sure you want to delete?')">Delete</a>
                        </td>
                        
                    </tr>


                    <div>
                        <div id="modaledit" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
        
                                        <h4 class="modal-title">Update Class Info</h4>
                                    </div>
                                    <div class = "modal-body">
        
                                        <form action="" method ="POST">
                                            
                                            <div class="form-group">
        
                                                <label>Name:</label>
                                                <input type="text" class="form-control" name="name" required="1">
                                            
                                            </div>
        
                                            <div class="form-group">
        
                                                <label>Teacher:</label>
                                                <input type="text" class="form-control" name="teacher" required="1">
                                            </div>
        
                                            <div class="form-group">
        
                                                <label>Subject:</label>
                                                <input type="text" class="form-control" name="subject" required="1">
                                            </div>
        
                                            <div class="form-group">
                                                <button class="btn btn-primary" type="submit">Save Edits</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                    </div>

                    
                </table>
            </div>

            <div>
                <div id="mymodal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <h4 class="modal-title">Add a Class</h4>
                            </div>
                            <div class = "modal-body">

                                <form action="" method ="POST">
                                    
                                    <div class="form-group">

                                        <label>Name:</label>
                                        <input type="text" class="form-control" name="name" required="1">
                                    
                                    </div>

                                    <div class="form-group">

                                        <label>Teacher:</label>
                                        <input type="text" class="form-control" name="teacher" required="1">
                                    </div>

                                    <div class="form-group">

                                        <label>Subject:</label>
                                        <input type="text" class="form-control" name="subject" required="1">
                                    </div>

                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit">Add Class</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>
</div>


{% endblock %}