{% extends 'base.html' %}

{% block title %} Course Catalog {%endblock%}



{% block body %}
<style>
  .favorited {
     color: gold;
  }
</style>

<!-- Nav bar to get back to home page-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://localhost:5000/">Back to Catalog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="jumbotron p-3">
  <div class="well text-center">
      <h1>My Favorited Courses</h1>
      <div id="favoriteClasses">

      </div>
  </div>
</div>

<script>
      updateFavoritesList();
      function updateFavoritesList() {
  // Get the favorite classes element from the DOM
  let favoriteClasses =[];
  favoriteClasses = JSON.parse(localStorage.getItem("favclasses"));
  let favoritesElement = document.getElementById("favoriteClasses");
  
  
  // Clear the previous contents of the favorites element
  favoritesElement.innerHTML = "";
  
  // Loop through the favorited classes and add them to the element
  favoriteClasses.forEach(className => {
    let classElement = document.createElement("p");
    classElement.innerText = className;
    
    // Create an "unfavorite" button for each class
    let unfavoriteButton = document.createElement("button");
    unfavoriteButton.innerText = "Unfavorite";
    unfavoriteButton.onclick = function() { unfavoriteClass(className); };
    
    // Add the class name and unfavorite button to the element
    classElement.appendChild(unfavoriteButton);
    favoritesElement.appendChild(classElement);
  });
}
</script>

{% endblock %}