{% extends 'base.html' %}

{% block title %} Course Catalog {%endblock%}



{% block body %}
<!-- Nav bar to get back to home page-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://localhost:5000/">Back to Catalog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="jumbotron p-3">
  <div class="well text-center">
      <h1>My Course Plans</h1>
  </div>
</div>

    <div class='col' style="margin-top: 20px;">
      <div class="card">
      <div class="well text-center">
        <div class="container">
                  <h3>Freshman Year Courses</h3>            
                  <table class="table table-striped">
                  <thead>
              <tr>
                <th>Class Name</th>
                <th>Subject</th>
              </tr>
            </thead>
            <tbody>
              {% for freshman in freshman %}
              <tr>
                <td>{{class}}</td>
                <td>{{subject}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      </div>
    </div>

    <div class="col" style="margin-top: 20px;">
      <div class="card">
      <div class="well text-center">
      <div class="container">
      <h3>Sophomore Year Courses</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Class Name</th>
            <th>Subject</th>
          </tr>
        </thead>
        <tbody>
          {% for sophomore in sophomore %}
          <tr>
            <td>{{class}}</td>
            <td>{{subject}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
  </div>

  <div class='col' style="margin-top: 20px;">
    <div class="card">
    <div class="well text-center">
      <div class="container">
                <h3>Junior Year Courses</h3>            
                <table class="table table-striped">
                <thead>
            <tr>
              <th>Class Name</th>
              <th>Subject</th>
            </tr>
          </thead>
          <tbody>
            {% for profiles in profiles %}
              <tr>
                <td>{{class}}</td>
                <td>{{subject}}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>

  <div class='col' style="margin-top: 20px;">
    <div class="card">
    <div class="well text-center">
      <div class="container">
                <h3>Senior Year Courses</h3>            
                <table class="table table-striped">
                <thead>
            <tr>
              <th>Class Name</th>
              <th>Subject</th>
            </tr>
          </thead>
          <tbody>
            {% for profiles in profiles %}
              <tr>
                <td>{{class}}</td>
                <td>{{subject}}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>




{% endblock %}