{% extends 'base.html' %}

{% block title %} Course Catalog {%endblock%}



{% block body %}
<style>
  .favorited {
     color: gold;
  }
</style>

<!-- Nav bar to get back to home page-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://localhost:5000/">Back to Catalog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="jumbotron p-3">
  <div class="well text-center">
      <h1>My Favorited Courses</h1>
  </div>
</div>

    <div class='col' style="margin-top: 20px;">
      <div class="card">
      <div class="well text-center">
        <div class="container">         
                  <table class="table table-striped" id="favorites">
                  <thead>
              <tr>
                <th>Class Name</th>
                <th>Subject</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
      </div>
    </div>

    <script>
      let classes = JSON.parse(localStorage.getItem("classfavs"));
      let favoritesDiv = document.getElementById("favorites");

      // Add event listeners to the favorite stars in the favorites list
      let favoriteStars = document.querySelectorAll("#favorites .fa-star");

      function updateFavorites() {
        let favoritesList = "<table><tr><th>Name</th><th>Subject</th><th>Unfavorite</th></tr>";

          for (let i = 0; i < classes.length; i++) {
          let classObj = classes[i];

          if (classObj.favorite) {
            favoritesList += "<tr><td>" + classObj.name + "</td><td>" + classObj.subject + "</td><td><span class='fa fa-star favorited'></span></td></tr>";
          }
        }

        favoritesList += "</table>";

        favoritesDiv.innerHTML = favoritesList;

        // Add event listeners to the favorite stars in the favorites list
        let favoriteStars = document.querySelectorAll("#favorites .fa-star");

        favoriteStars.forEach(function(star, index) {
          star.addEventListener("click", function() {
            let favoriteClassName = star.parentNode.parentNode.firstChild.textContent;
            let classIndex = classes.findIndex(function(classObj) {
              return classObj.name === favoriteClassName;
            });

            classes[classIndex].favorite = false;
            localStorage.setItem("classfavs", JSON.stringify(classes));
            updateFavorites();
          });
        });
      }
      updateFavorites();
    </script>

{% endblock %}