
{% extends 'base.html' %}

{% block title %} Course Catalog {%endblock%}



{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://localhost:5000/">Back to Catalog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

<div class="jumbotron p-3">
    <div class="well text-center">

        <h1>AP Psychology</h1>
        <h2>Teacher: Mrs. Phillips</h2>

    </div>
</div>
<div class="well text-center">
  <p>The purpose of the year long, advanced placement course in Psychology is to inroduce students to the systematic and scientific study of human behavior and mental processes. Students are exposed to the psychological theories, principles, and phenomena associated with each of the major subfields within psychology. They also learn about the methods psychologists use in science and practice. Scientific topic areas include:</p>
  <div class="container">
    <div class="row">
      <div class="col">
        Column
      </div>
      <div class="col">
        <div class ="col text-center">
          <div class="w-100"> 
            <ul class="list-group">
              <li class="list-group-item">Introduction to Psychology and Psychology Careers</li>
              <li class="list-group-item">Biological Bases of Behavior</li>
              <li class="list-group-item">Sensation and Perception</li>
              <li class="list-group-item">States of Conciousness</li>
              <li class="list-group-item">Learning</li>
              <li class="list-group-item">Memory</li>
              <li class="list-group-item">Cognition</li>
              <li class="list-group-item">Personality</li>
              <li class="list-group-item">Thinking, Language, and Intelligence</li>
              <li class="list-group-item">Motivation, Emotion, Social Psychology</li>
              <li class="list-group-item">Research</li>
            </ul>
          </div>
      
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  

</div>






{% endblock %}